openapi: 3.2.0
info:
  title: Ontraport REST Objects API
  description: 'Ontraport''s REST API exposes CRUD access to contacts, transactions, tags,

    sequences, forms, landing pages, and ecommerce objects. Authentication uses

    `Api-Key` and `Api-Appid` HTTP headers. All endpoints share a generic object

    interface where the object type is specified via parameters.'
  version: 1.0.0
  contact:
    name: Ontraport Developer Documentation
    url: https://api.ontraport.com/doc/
servers:
- url: https://api.ontraport.com/1
  description: Ontraport REST API v1
security:
- ApiKeyAuth: []
  AppIdAuth: []
tags:
- name: Objects
  description: Generic CRUD operations across Ontraport object types.
paths:
  /objects:
    get:
      tags:
      - Objects
      summary: List objects
      description: Retrieves a collection of objects based on a set of parameters.
      parameters:
      - $ref: '#/components/parameters/ObjectTypeId'
      - name: start
        in: query
        schema:
          type: integer
      - name: range
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/ObjectsResponse'
      operationId: getObjects
      x-operation-id-source: derived
    post:
      tags:
      - Objects
      summary: Create object
      description: Adds new data to your database.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectInput'
      responses:
        '200':
          $ref: '#/components/responses/ObjectResponse'
      operationId: postObjects
      x-operation-id-source: derived
    put:
      tags:
      - Objects
      summary: Update object
      description: Updates existing object data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectInput'
      responses:
        '200':
          $ref: '#/components/responses/ObjectResponse'
      operationId: putObjects
      x-operation-id-source: derived
    delete:
      tags:
      - Objects
      summary: Delete object(s)
      description: Permanently removes data from the database.
      parameters:
      - $ref: '#/components/parameters/ObjectTypeId'
      - name: id
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/SimpleResponse'
      operationId: deleteObjects
      x-operation-id-source: derived
  /object:
    get:
      tags:
      - Objects
      summary: Retrieve a single object by ID
      parameters:
      - $ref: '#/components/parameters/ObjectTypeId'
      - name: id
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/ObjectResponse'
      operationId: getObject
      x-operation-id-source: derived
  /objects/saveorupdate:
    post:
      tags:
      - Objects
      summary: Save or update object
      description: Creates a new object or merges with an existing one if a unique field matches.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectInput'
      responses:
        '200':
          $ref: '#/components/responses/ObjectResponse'
      operationId: postObjectsSaveorupdate
      x-operation-id-source: derived
  /objects/tag:
    get:
      tags:
      - Objects
      summary: Retrieve objects by tag
      parameters:
      - $ref: '#/components/parameters/ObjectTypeId'
      - name: tag_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/ObjectsResponse'
      operationId: getObjectsTag
      x-operation-id-source: derived
  /object/getByEmail:
    get:
      tags:
      - Objects
      summary: Retrieve object ID by email
      parameters:
      - $ref: '#/components/parameters/ObjectTypeId'
      - name: email
        in: query
        required: true
        schema:
          type: string
          format: email
      responses:
        '200':
          $ref: '#/components/responses/SimpleResponse'
      operationId: getObjectGetByEmail
      x-operation-id-source: derived
components:
  schemas:
    ObjectInput:
      type: object
      additionalProperties: true
      properties:
        objectID:
          type: integer
        email:
          type: string
          format: email
        firstname:
          type: string
        lastname:
          type: string
    ObjectResponse:
      type: object
      additionalProperties: true
      properties:
        code:
          type: integer
        data:
          type: object
          additionalProperties: true
    ObjectsListResponse:
      type: object
      additionalProperties: true
      properties:
        code:
          type: integer
        data:
          type: array
          items:
            type: object
            additionalProperties: true
  responses:
    SimpleResponse:
      description: Generic response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    ObjectsResponse:
      description: Collection of objects response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ObjectsListResponse'
    ObjectResponse:
      description: Single object response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ObjectResponse'
  parameters:
    ObjectTypeId:
      name: objectID
      in: query
      required: true
      description: Numeric Ontraport object type ID (e.g. 0 = Contacts).
      schema:
        type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Api-Key
    AppIdAuth:
      type: apiKey
      in: header
      name: Api-Appid
