openapi: 3.1.0
info:
  title: Ontraport REST Metadata API
  description: 'Ontraport''s REST API exposes CRUD access to contacts, transactions, tags,

    sequences, forms, landing pages, and ecommerce objects. Authentication uses

    `Api-Key` and `Api-Appid` HTTP headers. All endpoints share a generic object

    interface where the object type is specified via parameters.

    '
  version: 1.0.0
  contact:
    name: Ontraport Developer Documentation
    url: https://api.ontraport.com/doc/
servers:
- url: https://api.ontraport.com/1
  description: Ontraport REST API v1
security:
- ApiKeyAuth: []
  AppIdAuth: []
tags:
- name: Metadata
  description: Object metadata and field information.
paths:
  /objects/meta:
    get:
      tags:
      - Metadata
      summary: Retrieve object field metadata
      parameters:
      - $ref: '#/components/parameters/ObjectTypeId'
      responses:
        '200':
          $ref: '#/components/responses/SimpleResponse'
  /objects/getInfo:
    get:
      tags:
      - Metadata
      summary: Retrieve collection info
      description: Returns collection information such as object counts.
      parameters:
      - $ref: '#/components/parameters/ObjectTypeId'
      responses:
        '200':
          $ref: '#/components/responses/SimpleResponse'
  /objects/fieldeditor:
    post:
      tags:
      - Metadata
      summary: Create custom fields and sections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/SimpleResponse'
components:
  parameters:
    ObjectTypeId:
      name: objectID
      in: query
      required: true
      description: Numeric Ontraport object type ID (e.g. 0 = Contacts).
      schema:
        type: integer
  responses:
    SimpleResponse:
      description: Generic response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Api-Key
    AppIdAuth:
      type: apiKey
      in: header
      name: Api-Appid
